// A border built responsively.

// body > .site-border
.site-border {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	pointer-events: none;
	z-index: 999;
	border: 0px solid $color__brand;
	@include media('>tablet') {
		border-width: $site-border-size;
	}
}

// body > .site > .site-content
.site {
	@include media('>tablet') {
		padding: $site-border-size;
	}
}

