#page-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: -1;
}

.page-header.has-bg {
	margin-top: calc(100vh - 8rem);
}

.entry-title {
	height: 4rem;
	padding-top: 1em;
}