@import "grid";
@import "decoration";
@import 'home';
@import 'page';
@import 'footer';

.content-area {
	background: $color__background-body;
}

.page-header {
	margin-top: $nav-height-computed;
}

#content {
	min-height: 90vh;
}