
// Brand 5
$color__brand: #FF8E16;       // safety orange
$color__brand-jet: #202026;   // Jet
$color__brand-black: #050401; // Rich Black
$color__brand-white: #fff;    // Pure White
$color__brand-blue: #30bced;  // Picton Blue

// base
$color__background-body: $color__brand-jet;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__brand-white;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

// elements
$color__text-screen: #21759b;
$color__text-highlight: $color__brand;
$color__text-input: #666;
$color__text-input-focus: #color__brand-jet;
$color__link: royalblue;
$color__link-visited: normal;
$color__link-hover: $color__brand-blue;
$color__text-main: $color__brand-white;

// extra
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


// ----
$twitter-color:  #00aced;
$facebook-color: #3b5998;
$google-color:   #dd4b39;